html{
    background-color: black;
}

@media only screen and (min-width: 1366px){
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 180, 198);
    height: 13vh;
    width: auto;
    margin: 0px;
    background-image: none;
}

a{
position: relative;
left: 0%;
top: 29px;
padding-left: 5%;
font-size: 30px;
text-decoration: none;
color: black;
}

a:hover{
    color: lightblue;
}
/* 
#logo{
    position: relative;
    bottom: 164px;
    left: 3px;
    max-width: 195px;  
    min-width: 100px;
    max-height: auto;
    min-height: auto;
}
*/
#salon{
    width: 100%;
    height: 900px;
    
}

header{
    max-width: 100%;
    min-width: 0%;
    background-color: black;
}

marquee{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: rgb(235, 180, 198);
    max-width: 100%;

}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

h1{
    font-family: cursive;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

p{
    font-size: 40px;
    color: rgb(235, 180, 198);
}

li{
    font-size: 30px;
    color: rgb(235, 180, 198);
}

table, th, td {
    font-size: 20px;
    border: 1px solid white;
    color: rgb(235, 180, 198);
  }

  footer{
      width: 100%;
      height: 180px;
      background-image: url("marble.jpg");
      margin-top: 20px;
  }

  #toTop{
    position: relative;
    left: 1800px;
    top: 140px;
    color: black;
    text-decoration: underline;
  }

  #Copyright{
      font-size: 30px;
      text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1365px ){
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(235, 180, 198);
    height: 13vh;
    width: auto;
    margin: 0px;
    background-image: none;
}

a{
position: relative;
left: 0%;
top: 29px;
padding-left: 16%;
font-size: 24px;
text-decoration: none;
color: black;
}

a:hover{
    color: lightblue;
}
/* 
#logo{
    position: relative;
    bottom: 164px;
    left: 3px;
    max-width: 195px;  
    min-width: 100px;
    max-height: auto;
    min-height: auto;
}
*/
#salon{
    width: 100%;
    height: 700px;
    
}

header{
    max-width: 100%;
    min-width: 0%;
    background-color: black;
}

marquee{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: rgb(235, 180, 198);
    max-width: 100%;

}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: rgb(235, 180, 198);
}

h1{
    font-family: cursive;
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
}

p{
    font-size: 40px;
    color: rgb(235, 180, 198);
}

li{
    font-size: 30px;
    color: rgb(235, 180, 198);
}

table, th, td {
    font-size: 20px;
    border: 1px solid  rgb(235, 180, 198);
    color: rgb(235, 180, 198);
  }

  footer{
      width: 100%;
      height: 180px;
      background-image: url("marble.jpg");
      margin-top: 20px;
      color: rgb(235, 180, 198);
  }

  #toTop{
    position: relative;
    left: 1800px;
    top: 140px;
    color: black;
    text-decoration: underline;
  }

  #Copyright{
      font-size: 30px;
      text-align: center;
      color: rgb(235, 180, 198);
  }
}

@media only screen and (min-width: 360px) and (max-width: 766px ){
    nav{
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(235, 180, 198);
        height: 13vh;
        width: auto;
        margin: 0px;
        background-image: none;
    }
    
    a{
    position: relative;
    left: 0%;
    top: 29px;
    padding-left: 10%;
    font-size: 16px;
    text-decoration: none;
    color: black;
    }

    a:hover{
        color: lightblue;
    }
    /* 
    #logo{
        position: relative;
        bottom: 164px;
        left: 3px;
        max-width: 195px;  
        min-width: 100px;
        max-height: auto;
        min-height: auto;
    }
    */
    #salon{
        width: 100%;
        height: 500px;
        
    }
    
    header{
        max-width: 100%;
        min-width: 0%;
        background-color: black;
    }
    
    marquee{
        position: absolute;
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
        color: rgb(235, 180, 198);
        max-width: 100%;
    
    }
    
    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: rgb(235, 180, 198);
    }
    
    h1{
        font-family: cursive;
        font-size: 30px;
        margin-top: 40px;
        text-align: center;
    }
    
    p{
        font-size: 40px;
        color: rgb(235, 180, 198);
    }
    
    li{
        font-size: 30px;
        color: rgb(235, 180, 198);
    }
    
    table, th, td {
        font-size: 20px;
        border: 1px solid  rgb(235, 180, 198);
        color: rgb(235, 180, 198);
      }
    
      footer{
          width: 100%;
          height: 180px;
          background-image: url("marble.jpg");
          margin-top: 20px;
          color: rgb(235, 180, 198);
      }
    
      #toTop{
        position: relative;
        left: 1800px;
        top: 140px;
        color: black;
        text-decoration: underline;
      }
    
      #Copyright{
          font-size: 30px;
          text-align: center;
          color: rgb(235, 180, 198);
      }
    }